
<p *ngIf="ismenurequired">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <span>Welcome</span>
    <span class="example-spacer"></span>
    <a routerLink="/user" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="supervised_user_circle"></mat-icon>
    </a>
    <a routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
    </a>
  </mat-toolbar>
</p>

<div class="content" style="width: 100%; display: block;" role="main">
<router-outlet></router-outlet>
</div>
